<%-include('partials/header');-%>
<div class="contact-page">
    <div class="form"> 
        <form action="" >
            <div class="">
                <label for="name">Student Name</label>
                <input type="text">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email">
            </div>
            
        </form>
    </div>
        
</div>

<%-include('partials/footer');-%>