<%-include('partials/header');-%>
<!-- All Hostels-->
<div class="hostel-heading">
    <h1>Hostels is the Best Place for Students</h1>
</div>
<div class="girls-hostels">
<div class="row" >
    <div class="col-lg-4 col-md-6 col-sm-12 ">
       <img src="/images/shukhna-a.jpg" class="img-fluid" alt="" >
       <p>Sukhna Hostel-A</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 ">
        <img src="/images/shukhna-b.jpg" class="img-fluid" alt="" >
         <p>Sukhna Hostel-B</p>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 ">
        <img src="/images/tagore.jpg" class="img-fluid" alt="" >
        <p>Tagore Hostel</p>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 ">
        <img src="/images/lc.jpg" class="img-fluid" alt="" >
        <p>Le-Corbusier Hostel</p>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 ">
        <img src="/images/shivalik.jpg" class="img-fluid" alt="">
        <p>Shivalik Hostel</p>
     </div>
</div>
</div>

<!--Hostel Fasility-->
       <h1>Facilities at Hostels</h1>
     <div class="hostels-facility">
        <div class="row"> 
        <div class="col-lg-3 col-md-4 col-sm-6" > 
            <img  src="/images/img/electric.png" class="img-fluid" alt="">
             <p>Electricity Services 24X7</p>
        </div> 
        <div class="col-lg-3 col-md-4 col-sm-6"style="">
            <img src="/images/img/router.png" class="img-fluid" alt="">
           <p>Wifi Services 24X7</p>    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/reading.png" class="img-fluid" alt="">
           <p>Well- equipped reading rooms</p>      
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/roomcleaning.png" class="img-fluid" alt="">
                <p> Room cleaning Services</p>  
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/visitor.png" class="img-fluid" alt=""> 
                <p> Visitors & Guest Room </p>    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/saloon.png" class="img-fluid" alt="">
             <p> Saloon Services</p>      
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/mess.png" class="img-fluid" alt="">
              <p>Mess Services </p>      
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/canteen.png" class="img-fluid" alt="">
              <p>Night Canteen & Tuck Shops</p> 
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/lift.png" class="img-fluid" alt="">
              <p>Lift Services</p>     
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="/images/img/gym.png" class="img-fluid" alt="">
             <p>Gym Services</p>    
        </div>
        </div>  
     </div>
<%-include('partials/footer');-%>